<table class="table">
    <tr>
        <th>ID</th><th>photo</th><th>Titre</th><th>Price</th><th>filiere</th>
    </tr>
    <tr >
        <td><h1>1</h1></td>
        <td><img style="width: 80px;" src="../../assets/image/bg.jpg"></td>
        <td><h1>mac</h1></td>
        <td><h1>1500</h1></td>
        <td><h1>genie info</h1></td>

        
    
   
    <button  style="margin-top:5%;width: 70%;" class="btn btn-danger"  >delete</button><br>
    <button style="width: 70%;"class="btn btn-success"  >valide</button>

</tr>
</table>
