<table class="table">
  <tr>
    <th>ID</th>
    <th>photo</th>
    <th>Titre</th>
    <th>Price</th>
    <th>type</th>
  </tr>
  <tr *ngFor="let p of posts">
    <td>
      {{ p.id }}
    </td>
    <td><img style="width: 100px" [src]="this.getImages(p)" /></td>
    <td>
      {{ p.title }}
    </td>
    <td>
      {{ p.price }}
    </td>
    <td>
      {{ p.type }}
    </td>

    <button
      style="margin-top: 5%; width: 70%"
      class="btn btn-danger"
      (click)="delete(p.id)"
    >
      delete</button
    ><br />
    <button style="width: 70%" class="btn btn-success" (click)="valide(p)">
      valide
    </button>
  </tr>
</table>
