<div class="row" style="margin-top: 15px;">
     
    <div class="product"   >
        
            <div class="row-lg-4 ">
                   
                    <img st src="../../../assets/image/bg.jpg" class="img-fluid" style="width: 100%;" alt="">
                    </div>
                    <div >
                       <div style="margin-top: 30px;">
                        <h3 id="e" style=" font-size: 40px;color: blue; ">1500dh</h3>
                        <h3 id="e" >Pc poratble</h3>
                        <div style="display: flex;width: 100%;">
                           <span class="fa fa-map-marker"> Ensa marrakech
               
                           </span>
                        <div style="margin-top: -5px; margin-left:70%">
                           <span class="material-icons">
                               more_time
                               </span> 
                           </div>
                       </div>
                       </div>
                       <div style="border-bottom: 3px black solid; width: 100%;"></div>
                       
                       <div  style="display: flex;width: 100%;" >
                           <h3 >categories</h3>
                           <h3 class="filiere">genie informatique</h3>
                           <h3 class="autre">autre</h3>
                           <h3></h3>

                       </div>
                       <div style="border-bottom: 3px black solid; width: 100%;"></div>
                       </div>
                       <h2>Descrption</h2>
                       <textarea style="height:80px;width:100% ;" ></textarea>
                       
                        

                </div>
                <div    style=" background-color: rgb(235, 235, 235); margin-top: -60px;  margin-bottom: 100px;width: 100%;" >
                <div  style="display: flex;">
                    <img style="width:70px ; height:70px" src="../../../assets/image/admin.png">
                    <h1 style="margin-top: 15px; margin-left:10px ;font-size: max(3vw,10px);">proprietaire</h1>
                    <div class="afichernum" >
                       <button style="border-radius: 10px;  height: 40px;margin-top: 10px;background-color: rgb(255, 103, 37);border: none;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">afficher num</button>
                   </div>
                   <div  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                       <div class="modal-dialog">
                         <div class="modal-content">
                           <div class="modal-header" style="display: block;">
                              
                                   <img style="width:200px ; height:200px; margin-left:130px ;" src="../../../assets/image/hacker.png">
                                   <h3 style="color: red; margin-left: 200px;"> Attention!</h3></div>
                           
                           <h4>Il ne faut jamais envoyer de l’argent à l’avance au vendeur par virement bancaire ou à travers une agence de transfert d’argent lors de l’achat des biens disponibles sur le site.</h4>
                           <h3 style="margin-left: 110px; margin-top: 20px;">Appeler Grossiste chambre lit salon</h3>
                           
                           
                           <button style="width: 120px; height: 30px; border-radius: 20px; margin-left: 175px;"> 
                               <div  style="display: flex;">
                               <span class="material-icons">
                               call
                               </span>
                               <h4>06 XXXXXX</h4>
                           </div>
                           </button>
                      
                       
                           <div class="modal-footer">
                             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            
                           </div>
                         </div>
                       </div>
                     </div>
                     
                   
                   
                   
                
                </div>
               </div>
             
              </div>
              <app-swiper-detail></app-swiper-detail>
                
