<section>
    <div style="display: flex;margin-left:20px;">
        <h4>2022- E-shop-Ensa</h4>
        <span class="material-icons">
            language
            </span>

    </div>
    <div style="display: flex; margin-left: 860px;">
        <span class="material-icons">
            email
            </span>
            <span class="material-icons">
                location_on
                </span>
                <span class="material-icons">
                    business
                    </span>

    </div>
</section>
