
<h1>Dashbord</h1>
<h4>latest update</h4>
<div class="all"  >
   <div class="sous">
   
   <div class="dash"style=" background: linear-gradient(70deg, blue, pink);margin-left: 15px;margin-top: 15px;touch-action: manipulation;
    cursor: pointer;" routerLink="/admin_dashboard">
        <div style="margin-top: 10px;margin-left:10px;">
            <span style="color: white;" class="material-icons">
                home
                </span>
                <h3 style="color: white;">Dashbord</h3>
        </div>
        
    
    </div>
    <div class="dash" style=" background: linear-gradient(70deg, pink, rgb(255, 255, 191));margin-left: 15px;margin-top: 15px;touch-action: manipulation;
    cursor: pointer;" routerLink="/admin_products">
        <div style="margin-top: 10px;margin-left:10px;">
            <span style="color: white;" class="material-icons">
                production_quantity_limits
                </span>
                <h3 style="color: white;" >Products</h3>
        </div>
    
    </div>


    <div class="dash" style="background: linear-gradient(70deg, rgb(251, 251, 170), rgb(227, 143, 255));margin-left: 15px;margin-top: 15px;touch-action: manipulation;
    cursor: pointer;">
        <div style="margin-top: 10px;margin-left:10px;" routerLink="/admin_validate">
            <span style="color: white;" class="material-icons">
                article
                </span>
                <h3 style="color: white;">validé</h3>
        </div>
    
    </div>
</div>
<div class="sous">
    <div class="dash" style="background: linear-gradient(70deg,  rgb(221, 126, 252),rgb(255, 73, 73));margin-left: 15px;margin-top: 15px;touch-action: manipulation;
    cursor: pointer;">
        <div style="margin-top: 10px;margin-left:10px;" routerLink="/admin_users">
            <span style="color: white;" class="material-icons">
                perm_identity
                </span>
                
                <h3 style="color: white;">Users</h3>
        </div>
    
    </div>
</div>

</div>
