<header style="height: 80px;">
    <div class="p-grid">
        <div  > Pfs</div>
        <div class="p" ><app-search></app-search></div>
        <div class="p" >
            <app-nav-bar></app-nav-bar>
        </div>
        <div class="p"> 
            
            <span class="material-icons">
                perm_identity
                </span>
                <span style="color: rgb(255, 103, 37);" class="material-icons">
                    shopping_basket
                    </span>
                    
        </div>
        
    
    </div>

</header>
