<section>
    <h1 style="margin-left: 20px;">categories</h1>
    <section style="display: flex;">
        <div (click)="sendcategorie('genie reseau')" class="b" style="background-color: rgb(244, 244, 227);-ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;" >
            <div style="display: block;margin-top: 23px; ">
                <span  class="material-icons">
                    satellite_alt
                    </span>
                    <h4 style="margin-left: -7px;">reseau</h4>
                </div>

        </div>
        <div (click)="sendcategorie('genie electrique')" class="a" style="background-color:lavenderblush ;-ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;">
        <div style="display: block; margin-top: 23px;">
            <span class="material-icons">
                build
                </span>
                <h4>electrique</h4>
            </div>
        </div >

        <div (click)="sendcategorie('genie indus')" class="a" style="background-color:rgb(235, 235, 235);-ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;">
            <div style="display: block;margin-top: 23px;">
                <span class="material-icons">
                    work_outline
                    </span>
                    <h4>industriel</h4>
                </div>
        </div >
        
        <div (click)="sendcategorie('genie info')" class="a" style="background-color: rgb(255, 217, 203);-ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;">
            <div style="display: block;margin-top: 23px;">
                <span class="material-icons">
                    phonelink_ring
                    </span>
                    
                    <h4 style="margin-left: -20px;">informatique</h4>
                
        </div>
        </div>
    </section>
</section>
