<form action="/action_page.php">
    <div class="mb-3 mt-3">
        <label class="form-label">titre:</label>
        <input type="text" class="form-control"  placeholder="titre" >
      </div>
   
    <div class="mb-3">
      <label  class="form-label">Prix</label>
      <input type="text" class="form-control"  placeholder="prix" >
    </div>
    <div class="mb-3 mt-3">
        <label class="form-label">Description:</label>
        <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
      </div>
    <div class="form-check mb-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" > qlq chose
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>