<owl-carousel-o [options]="customOptions">

    <ng-container *ngFor="let slide of numbers">
      <ng-template carouselSlide [id]="slide" >
        <div style=" background-color: rgb(235, 235, 235);border-radius: 30px;width: 90%;">
        <div >
           
          <img  src="../../../assets/image/bg.jpg" class="img-fluid" alt="">
          </div>
          <div class="row-lg-1" style="margin-left:110px" >
            <h3 id="e" style="margin-top: -5px;"></h3>
            <h3 id="e" style="margin-top: -20px; color: rgb(255, 103, 37);"></h3>
      
    </div>
        </div>
      </ng-template>
    </ng-container>

  </owl-carousel-o>

