<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">PFS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button type="button" routerLink="/connecter" class="btn btn-outline-secondary mx-auto">se connecter</button>
    <button type="button"  routerLink="/add" class="btn btn-primary "  data-toggle="button" aria-pressed="false" autocomplete="off">
        deposer une annonce
      </button>
      </nav>
   
           
       
   

