<table class="table">
    <tr>
        <th>ID</th><th>admin</th><th>nom</th><th>prenom</th>
    </tr>
    <tr> 
    <td>1</td>
    <td> <img style="width:60px ; height:60px" src="../../../assets/image/admin.png"></td>
    <td>mehdi</td>
    <td>mehdi</td>
    
    <button  style="margin-top:13px;" class="btn btn-danger"  >delete</button>
    <button style="margin-left: 10px;margin-top:13px;"class="btn btn-success"  >edit</button>
</tr>
<tr> 
    <td>2</td>
    <td> <img style="width:60px ; height:60px" src="../../../assets/image/admin.png"></td>
    <td>ziko</td>
    <td>essabri</td>


    <button  style="margin-top:13px;" class="btn btn-danger"  >delete</button>
    <button style="margin-left: 10px;margin-top:13px;"class="btn btn-success"  >edit</button>
</tr>