/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.min.css";

@font-face {
    font-family: "my_font_family";
    src: url("assets/fonts/Macondo-Regular.ttf");
}
:root{

    --main-color :#5138ed;
    --main-color:rgb(255, 175, 0);
    --main-color-rgba :#5038ed72;
}
.bg-primary{
    background-color: var(--main-color) !important;
}

.color-primary{
    color : var(--main-color) !important;
}

.form-control:focus{
    border-color: var(--main-color) !important;
    box-shadow: 0 0 0 0.2rem var(--main-color-rgba);
}

select option:hover{
    background-color: var(--main-color) !important;
    color: var(--main-color);
}

.my_font_family{
    font-family:my_font_family !important;
}