/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.min.css";

@font-face {
    font-family: "my_font_family";
    src: url("assets/fonts/Macondo-Regular.ttf");
}
:root{
    --main-color-user:rgb(255, 175, 0);
    --main-color-user:#30999A;
    --main-color-admin:#123466;
    --nav-bar-height : 65px;
    --color-primary-bootstrap:rgb(13, 110, 253)
}
.bg-primary-user{
    background-color: var(--main-color-user) !important;
}

.color-primary-user{
    color : var(--main-color-user) !important;
}

.bg-primary-admin{
    background-color: var(--main-color-admin) !important;
}

.color-primary-admin{
    color : var(--main-color-admin) !important;
}

.my_font_family{
    font-family:my_font_family !important;
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.my_container{
    min-height: 100% !important;
    width: 100% ;
    flex:1;
    background-color: rgb(242,242,242);
    position: relative;
    margin: 0;
}

.margin-top{
    margin-top: var(--nav-bar-height) !important;

}
.btn:focus{
    outline: none !important;
    box-shadow: none !important;
}